* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

[class^="wk-section-width"] {
  width: 100%;
  background: dodgerblue;
}

.wk-section-width-full {
  max-width: 100%;
}

.wk-section-width-wrapp {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*========== Cols =========*/
/*========== Cols ==========*/
[class^="wk-cols"]:not(.wk-cols-8):not(.wk-cols-14):not(.wk-cols-16) {
  width: 100%;
}

[class^="wk-cols"]:not(.wk-cols-8):not(.wk-cols-14):not(.wk-cols-16) [class~="wk-col"] {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

@media (max-width: 770px) {
  .wk-cols,
  .wk-cols-8 .wk-cols,
  .wk-cols-14 .wk-cols,
  .wk-cols-16 .wk-cols {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wk-cols > [class^='wk-col-'],
  .wk-cols-8 .wk-cols > [class^='wk-col-'],
  .wk-cols-14 .wk-cols > [class^='wk-col-'],
  .wk-cols-16 .wk-cols > [class^='wk-col-'] {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .wk-cols-t,
  .wk-cols-8 .wk-cols-t,
  .wk-cols-14 .wk-cols-t,
  .wk-cols-16 .wk-cols-t,
  .wk-cols-te,
  .wk-cols-8 .wk-cols-te,
  .wk-cols-14 .wk-cols-te,
  .wk-cols-sys-13 .wk-cols-te {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wk-cols-t > [class^='wk-col-'],
  .wk-cols-8 .wk-cols-t > [class^='wk-col-'],
  .wk-cols-14 .wk-cols-t > [class^='wk-col-'],
  .wk-cols-16 .wk-cols-t > [class^='wk-col-'],
  .wk-cols-te > [class^='wk-col-'],
  .wk-cols-8 .wk-cols-te > [class^='wk-col-'],
  .wk-cols-14 .wk-cols-te > [class^='wk-col-'],
  .wk-cols-sys-13 .wk-cols-te > [class^='wk-col-'] {
    width: 100%;
  }
  .wk-cols-me > [class^="wk-col-"],
  .wk-cols-8 .wk-cols-me > [class^="wk-col-"],
  .wk-cols-14 .wk-cols-me > [class^="wk-col-"],
  .wk-cols-16 .wk-cols-me > [class^="wk-col-"] {
    width: 50%;
  }
}

@media (min-width: 771px) {
  .wk-cols .wk-col-1 {
    width: 8.33333%;
  }
  .wk-cols .wk-col-2 {
    width: 16.66667%;
  }
  .wk-cols .wk-col-3 {
    width: 25%;
  }
  .wk-cols .wk-col-4 {
    width: 33.33333%;
  }
  .wk-cols .wk-col-5 {
    width: 41.66667%;
  }
  .wk-cols .wk-col-6 {
    width: 50%;
  }
  .wk-cols .wk-col-7 {
    width: 58.33333%;
  }
  .wk-cols .wk-col-8 {
    width: 66.66667%;
  }
  .wk-cols .wk-col-9 {
    width: 75%;
  }
  .wk-cols .wk-col-10 {
    width: 83.33333%;
  }
  .wk-cols .wk-col-11 {
    width: 91.66667%;
  }
  .wk-cols .wk-col-12 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols .wk-col-1 {
    width: 12.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-2 {
    width: 25%;
  }
  .wk-cols-8 .wk-cols .wk-col-3 {
    width: 37.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-4 {
    width: 50%;
  }
  .wk-cols-8 .wk-cols .wk-col-5 {
    width: 62.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-6 {
    width: 75%;
  }
  .wk-cols-8 .wk-cols .wk-col-7 {
    width: 87.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-8 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols .wk-col-9 {
    width: 112.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-10 {
    width: 125%;
  }
  .wk-cols-8 .wk-cols .wk-col-11 {
    width: 137.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-12 {
    width: 150%;
  }
  .wk-cols-8 .wk-cols .wk-col-13 {
    width: 162.5%;
  }
  .wk-cols-8 .wk-cols .wk-col-14 {
    width: 100%;
  }
  .wk-cols-14 .wk-cols .wk-col-1 {
    width: 7.14286%;
  }
  .wk-cols-14 .wk-cols .wk-col-2 {
    width: 14.28571%;
  }
  .wk-cols-14 .wk-cols .wk-col-3 {
    width: 21.42857%;
  }
  .wk-cols-14 .wk-cols .wk-col-4 {
    width: 28.57143%;
  }
  .wk-cols-14 .wk-cols .wk-col-5 {
    width: 35.71429%;
  }
  .wk-cols-14 .wk-cols .wk-col-6 {
    width: 42.85714%;
  }
  .wk-cols-14 .wk-cols .wk-col-7 {
    width: 50%;
  }
  .wk-cols-14 .wk-cols .wk-col-8 {
    width: 57.14286%;
  }
  .wk-cols-14 .wk-cols .wk-col-9 {
    width: 64.28571%;
  }
  .wk-cols-14 .wk-cols .wk-col-10 {
    width: 71.42857%;
  }
  .wk-cols-14 .wk-cols .wk-col-11 {
    width: 78.57143%;
  }
  .wk-cols-14 .wk-cols .wk-col-12 {
    width: 85.71429%;
  }
  .wk-cols-14 .wk-cols .wk-col-13 {
    width: 92.85714%;
  }
  .wk-cols-14 .wk-cols .wk-col-14 {
    width: 100%;
  }
  .wk-cols-16 .wk-cols .wk-col-1 {
    width: 6.25%;
  }
  .wk-cols-16 .wk-cols .wk-col-2 {
    width: 12.5%;
  }
  .wk-cols-16 .wk-cols .wk-col-3 {
    width: 18.75%;
  }
  .wk-cols-16 .wk-cols .wk-col-4 {
    width: 25%;
  }
  .wk-cols-16 .wk-cols .wk-col-5 {
    width: 31.25%;
  }
  .wk-cols-16 .wk-cols .wk-col-6 {
    width: 37.5%;
  }
  .wk-cols-16 .wk-cols .wk-col-7 {
    width: 43.75%;
  }
  .wk-cols-16 .wk-cols .wk-col-8 {
    width: 50%;
  }
  .wk-cols-16 .wk-cols .wk-col-9 {
    width: 56.25%;
  }
  .wk-cols-16 .wk-cols .wk-col-10 {
    width: 62.5%;
  }
  .wk-cols-16 .wk-cols .wk-col-11 {
    width: 68.75%;
  }
  .wk-cols-16 .wk-cols .wk-col-12 {
    width: 75%;
  }
  .wk-cols-16 .wk-cols .wk-col-13 {
    width: 81.25%;
  }
  .wk-cols-16 .wk-cols .wk-col-14 {
    width: 87.5%;
  }
  .wk-cols-16 .wk-cols .wk-col-15 {
    width: 93.75%;
  }
  .wk-cols-16 .wk-cols .wk-col-16 {
    width: 100%;
  }
  .wk-cols-te .wk-col-1 {
    width: 8.33333%;
  }
  .wk-cols-te .wk-col-2 {
    width: 16.66667%;
  }
  .wk-cols-te .wk-col-3 {
    width: 25%;
  }
  .wk-cols-te .wk-col-4 {
    width: 33.33333%;
  }
  .wk-cols-te .wk-col-5 {
    width: 41.66667%;
  }
  .wk-cols-te .wk-col-6 {
    width: 50%;
  }
  .wk-cols-te .wk-col-7 {
    width: 58.33333%;
  }
  .wk-cols-te .wk-col-8 {
    width: 66.66667%;
  }
  .wk-cols-te .wk-col-9 {
    width: 75%;
  }
  .wk-cols-te .wk-col-10 {
    width: 83.33333%;
  }
  .wk-cols-te .wk-col-11 {
    width: 91.66667%;
  }
  .wk-cols-te .wk-col-12 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-1 {
    width: 12.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-2 {
    width: 25%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-3 {
    width: 37.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-4 {
    width: 50%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-5 {
    width: 62.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-6 {
    width: 75%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-7 {
    width: 87.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-8 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-9 {
    width: 112.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-10 {
    width: 125%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-11 {
    width: 137.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-12 {
    width: 150%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-13 {
    width: 162.5%;
  }
  .wk-cols-8 .wk-cols-te .wk-col-14 {
    width: 100%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-1 {
    width: 7.14286%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-2 {
    width: 14.28571%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-3 {
    width: 21.42857%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-4 {
    width: 28.57143%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-5 {
    width: 35.71429%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-6 {
    width: 42.85714%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-7 {
    width: 50%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-8 {
    width: 57.14286%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-9 {
    width: 64.28571%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-10 {
    width: 71.42857%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-11 {
    width: 78.57143%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-12 {
    width: 85.71429%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-13 {
    width: 92.85714%;
  }
  .wk-cols-14 .wk-cols-te .wk-col-14 {
    width: 100%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-1 {
    width: 6.25%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-2 {
    width: 12.5%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-3 {
    width: 18.75%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-4 {
    width: 25%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-5 {
    width: 31.25%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-6 {
    width: 37.5%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-7 {
    width: 43.75%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-8 {
    width: 50%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-9 {
    width: 56.25%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-10 {
    width: 62.5%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-11 {
    width: 68.75%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-12 {
    width: 75%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-13 {
    width: 81.25%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-14 {
    width: 87.5%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-15 {
    width: 93.75%;
  }
  .wk-cols-16 .wk-cols-te .wk-col-16 {
    width: 100%;
  }
  .wk-cols .wk-col-2e {
    width: 50%;
  }
  .wk-cols .wk-col-3e {
    width: 33.33333%;
  }
  .wk-cols .wk-col-4e {
    width: 25%;
  }
  .wk-cols .wk-col-5e {
    width: 20%;
  }
  .wk-cols .wk-col-6e {
    width: 16.66667%;
  }
  .wk-cols .wk-col-7e {
    width: 14.28571%;
  }
  .wk-cols .wk-col-8e {
    width: 12.5%;
  }
  .wk-cols .wk-col-9e {
    width: 11.11111%;
  }
  .wk-cols .wk-col-10e {
    width: 10%;
  }
  .wk-cols .wk-col-11e {
    width: 9.09091%;
  }
  .wk-cols .wk-col-12e {
    width: 8.33333%;
  }
  .wk-cols .wk-col-13e {
    width: 7.69231%;
  }
  .wk-cols .wk-col-14e {
    width: 7.14286%;
  }
  .wk-cols .wk-col-15e {
    width: 6.66667%;
  }
  .wk-cols .wk-col-16e {
    width: 6.25%;
  }
}

@media (min-width: 415px) {
  .wk-cols-t .wk-col-1 {
    width: 8.33333%;
  }
  .wk-cols-t .wk-col-2 {
    width: 16.66667%;
  }
  .wk-cols-t .wk-col-3 {
    width: 25%;
  }
  .wk-cols-t .wk-col-4 {
    width: 33.33333%;
  }
  .wk-cols-t .wk-col-5 {
    width: 41.66667%;
  }
  .wk-cols-t .wk-col-6 {
    width: 50%;
  }
  .wk-cols-t .wk-col-7 {
    width: 58.33333%;
  }
  .wk-cols-t .wk-col-8 {
    width: 66.66667%;
  }
  .wk-cols-t .wk-col-9 {
    width: 75%;
  }
  .wk-cols-t .wk-col-10 {
    width: 83.33333%;
  }
  .wk-cols-t .wk-col-11 {
    width: 91.66667%;
  }
  .wk-cols-t .wk-col-12 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-1 {
    width: 12.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-2 {
    width: 25%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-3 {
    width: 37.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-4 {
    width: 50%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-5 {
    width: 62.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-6 {
    width: 75%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-7 {
    width: 87.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-8 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-9 {
    width: 112.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-10 {
    width: 125%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-11 {
    width: 137.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-12 {
    width: 150%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-13 {
    width: 162.5%;
  }
  .wk-cols-8 .wk-cols-t .wk-col-14 {
    width: 100%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-1 {
    width: 7.14286%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-2 {
    width: 14.28571%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-3 {
    width: 21.42857%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-4 {
    width: 28.57143%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-5 {
    width: 35.71429%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-6 {
    width: 42.85714%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-7 {
    width: 50%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-8 {
    width: 57.14286%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-9 {
    width: 64.28571%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-10 {
    width: 71.42857%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-11 {
    width: 78.57143%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-12 {
    width: 85.71429%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-13 {
    width: 92.85714%;
  }
  .wk-cols-14 .wk-cols-t .wk-col-14 {
    width: 100%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-1 {
    width: 6.25%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-2 {
    width: 12.5%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-3 {
    width: 18.75%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-4 {
    width: 25%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-5 {
    width: 31.25%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-6 {
    width: 37.5%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-7 {
    width: 43.75%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-8 {
    width: 50%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-9 {
    width: 56.25%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-10 {
    width: 62.5%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-11 {
    width: 68.75%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-12 {
    width: 75%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-13 {
    width: 81.25%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-14 {
    width: 87.5%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-15 {
    width: 93.75%;
  }
  .wk-cols-16 .wk-cols-t .wk-col-16 {
    width: 100%;
  }
  .wk-cols-me .wk-col-1 {
    width: 8.33333%;
  }
  .wk-cols-me .wk-col-2 {
    width: 16.66667%;
  }
  .wk-cols-me .wk-col-3 {
    width: 25%;
  }
  .wk-cols-me .wk-col-4 {
    width: 33.33333%;
  }
  .wk-cols-me .wk-col-5 {
    width: 41.66667%;
  }
  .wk-cols-me .wk-col-6 {
    width: 50%;
  }
  .wk-cols-me .wk-col-7 {
    width: 58.33333%;
  }
  .wk-cols-me .wk-col-8 {
    width: 66.66667%;
  }
  .wk-cols-me .wk-col-9 {
    width: 75%;
  }
  .wk-cols-me .wk-col-10 {
    width: 83.33333%;
  }
  .wk-cols-me .wk-col-11 {
    width: 91.66667%;
  }
  .wk-cols-me .wk-col-12 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-1 {
    width: 12.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-2 {
    width: 25%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-3 {
    width: 37.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-4 {
    width: 50%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-5 {
    width: 62.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-6 {
    width: 75%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-7 {
    width: 87.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-8 {
    width: 100%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-9 {
    width: 112.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-10 {
    width: 125%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-11 {
    width: 137.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-12 {
    width: 150%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-13 {
    width: 162.5%;
  }
  .wk-cols-8 .wk-cols-me .wk-col-14 {
    width: 100%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-1 {
    width: 7.14286%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-2 {
    width: 14.28571%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-3 {
    width: 21.42857%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-4 {
    width: 28.57143%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-5 {
    width: 35.71429%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-6 {
    width: 42.85714%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-7 {
    width: 50%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-8 {
    width: 57.14286%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-9 {
    width: 64.28571%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-10 {
    width: 71.42857%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-11 {
    width: 78.57143%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-12 {
    width: 85.71429%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-13 {
    width: 92.85714%;
  }
  .wk-cols-14 .wk-cols-me .wk-col-14 {
    width: 100%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-1 {
    width: 6.25%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-2 {
    width: 12.5%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-3 {
    width: 18.75%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-4 {
    width: 25%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-5 {
    width: 31.25%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-6 {
    width: 37.5%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-7 {
    width: 43.75%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-8 {
    width: 50%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-9 {
    width: 56.25%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-10 {
    width: 62.5%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-11 {
    width: 68.75%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-12 {
    width: 75%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-13 {
    width: 81.25%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-14 {
    width: 87.5%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-15 {
    width: 93.75%;
  }
  .wk-cols-16 .wk-cols-me .wk-col-16 {
    width: 100%;
  }
}

@media (min-width: 415px) and (max-width: 771px) {
  .wk-cols-te > [class^="wk-col-"],
  .wk-cols-8 .wk-cols-te > [class^="wk-col-"],
  .wk-cols-14 .wk-cols-te > [class^="wk-col-"],
  .wk-cols-16 .wk-cols-te > [class^="wk-col-"] {
    width: 50%;
  }
}

.wk-cols-m .wk-col-1 {
  width: 8.33333%;
}

.wk-cols-m .wk-col-2 {
  width: 16.66667%;
}

.wk-cols-m .wk-col-3 {
  width: 25%;
}

.wk-cols-m .wk-col-4 {
  width: 33.33333%;
}

.wk-cols-m .wk-col-5 {
  width: 41.66667%;
}

.wk-cols-m .wk-col-6 {
  width: 50%;
}

.wk-cols-m .wk-col-7 {
  width: 58.33333%;
}

.wk-cols-m .wk-col-8 {
  width: 66.66667%;
}

.wk-cols-m .wk-col-9 {
  width: 75%;
}

.wk-cols-m .wk-col-10 {
  width: 83.33333%;
}

.wk-cols-m .wk-col-11 {
  width: 91.66667%;
}

.wk-cols-m .wk-col-12 {
  width: 100%;
}

.wk-cols-8 .wk-cols-m .wk-col-1 {
  width: 12.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-2 {
  width: 25%;
}

.wk-cols-8 .wk-cols-m .wk-col-3 {
  width: 37.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-4 {
  width: 50%;
}

.wk-cols-8 .wk-cols-m .wk-col-5 {
  width: 62.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-6 {
  width: 75%;
}

.wk-cols-8 .wk-cols-m .wk-col-7 {
  width: 87.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-8 {
  width: 100%;
}

.wk-cols-8 .wk-cols-m .wk-col-9 {
  width: 112.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-10 {
  width: 125%;
}

.wk-cols-8 .wk-cols-m .wk-col-11 {
  width: 137.5%;
}

.wk-cols-8 .wk-cols-m .wk-col-12 {
  width: 100%;
}

.wk-cols-14 .wk-cols-m .wk-col-1 {
  width: 7.14286%;
}

.wk-cols-14 .wk-cols-m .wk-col-2 {
  width: 14.28571%;
}

.wk-cols-14 .wk-cols-m .wk-col-3 {
  width: 21.42857%;
}

.wk-cols-14 .wk-cols-m .wk-col-4 {
  width: 28.57143%;
}

.wk-cols-14 .wk-cols-m .wk-col-5 {
  width: 35.71429%;
}

.wk-cols-14 .wk-cols-m .wk-col-6 {
  width: 42.85714%;
}

.wk-cols-14 .wk-cols-m .wk-col-7 {
  width: 50%;
}

.wk-cols-14 .wk-cols-m .wk-col-8 {
  width: 57.14286%;
}

.wk-cols-14 .wk-cols-m .wk-col-9 {
  width: 64.28571%;
}

.wk-cols-14 .wk-cols-m .wk-col-10 {
  width: 71.42857%;
}

.wk-cols-14 .wk-cols-m .wk-col-11 {
  width: 78.57143%;
}

.wk-cols-14 .wk-cols-m .wk-col-12 {
  width: 85.71429%;
}

.wk-cols-14 .wk-cols-m .wk-col-13 {
  width: 92.85714%;
}

.wk-cols-14 .wk-cols-m .wk-col-14 {
  width: 100%;
}

.wk-cols-16 .wk-cols-m .wk-col-1 {
  width: 6.25%;
}

.wk-cols-16 .wk-cols-m .wk-col-2 {
  width: 12.5%;
}

.wk-cols-16 .wk-cols-m .wk-col-3 {
  width: 18.75%;
}

.wk-cols-16 .wk-cols-m .wk-col-4 {
  width: 25%;
}

.wk-cols-16 .wk-cols-m .wk-col-5 {
  width: 31.25%;
}

.wk-cols-16 .wk-cols-m .wk-col-6 {
  width: 37.5%;
}

.wk-cols-16 .wk-cols-m .wk-col-7 {
  width: 43.75%;
}

.wk-cols-16 .wk-cols-m .wk-col-8 {
  width: 50%;
}

.wk-cols-16 .wk-cols-m .wk-col-9 {
  width: 56.25%;
}

.wk-cols-16 .wk-cols-m .wk-col-10 {
  width: 62.5%;
}

.wk-cols-16 .wk-cols-m .wk-col-11 {
  width: 68.75%;
}

.wk-cols-16 .wk-cols-m .wk-col-12 {
  width: 75%;
}

.wk-cols-16 .wk-cols-m .wk-col-13 {
  width: 81.25%;
}

.wk-cols-16 .wk-cols-m .wk-col-14 {
  width: 87.5%;
}

.wk-cols-16 .wk-cols-m .wk-col-15 {
  width: 93.75%;
}

.wk-cols-16 .wk-cols-m .wk-col-16 {
  width: 100%;
}

/*========== No Flexbox =========*/
.no-flexbox [class^="wk-col-"],
.no-flexbox .wk-col {
  float: left;
}

@media (max-width: 414px) {
  .no-flexbox .wk-cols-t > [class^="wk-col-"],
  .no-flexbox .wk-cols-8t > [class^="wk-col-"],
  .no-flexbox .wk-cols-14t > [class^="wk-col-"],
  .no-flexbox .wk-cols-16t > [class^="wk-col-"],
  .no-flexbox .wk-cols-te > [class^="wk-col-"],
  .no-flexbox .wk-cols-8te > [class^="wk-col-"],
  .no-flexbox .wk-cols-14te > [class^="wk-col-"],
  .no-flexbox .wk-cols-16te > [class^="wk-col-"] {
    float: none;
  }
}

.no-flexbox [class^="wk-cols"]:after {
  content: "";
  display: table;
  clear: both;
}

/*========== Menu =========*/
.wk-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wk-menu * {
  display: inline-block;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 0;
}

.wk-menu *:not(:last-child) {
  margin-right: 12px;
}

/*# sourceMappingURL=wpkitui.css.map */