body
	font:
		family: sans-serif
		size: 18px

header
	border-bottom: 1px solid gainsboro
	

[class^="wk-col-"],
.wk-col
	box-sizing: border-box
	border:
		bottom: solid
			width: 1px		
		left: solid
			width: 1px
		color: white

	background-color: rgba(114, 100, 173, 0.14)
	color: #484848
	font-size: 12px
	padding: 2px 0
	text-align: center
