/* Ie 9, safari 5 .no-flexbox */

$text-color-primary: #000;
$text-color-contrast: #fff;
$text-color-contrast-medium: #aaa;

$section-max-width: 800px;

$width-mobile: 770px;
$width-mobile-xs: 414px;

$width-mobile-plus-1: 771px;
$width-mobile-xs-plus-1: 415px;

//

* 
	box-sizing: border-box

body
	margin: 0
	padding: 0

[class^="wk-section-width"]
	width: 100%
	background: dodgerblue

.wk-section-width-full
	max-width: 100%

.wk-section-width-wrapp
	max-width: 1000px
	margin:
		left: auto
		right: auto

//////////////////// .wk-cols
[class^="wk-cols"]
	width: 100%
	display: flex
	
	[class~="wk-col"]
		flex-grow: 1
		flex-shrink: 1

/*========== ==========*/

@media ( max-width: $width-mobile )
	.wk-cols,
	.wk-cols-8,
	.wk-cols-14,
	.wk-cols-16
		flex-direction: column
		> [class^='wk-col-']
			width: 100%

@media ( max-width: $width-mobile-xs )
	.wk-cols-t,
	.wk-cols-8t,
	.wk-cols-14t,
	.wk-cols-16t,
	.wk-cols-te,
	.wk-cols-8te,
	.wk-cols-14te,
	.wk-cols-16te
		flex-direction: column
		> [class^='wk-col-']
			width: 100%

	.wk-cols-me, 
	.wk-cols-8me,
	.wk-cols-14me,
	.wk-cols-16me
		> [class^="wk-col-"]
			width: 50%

@media ( min-width: $width-mobile-plus-1 )
	.wk-cols
		.wk-col-1
			width: 100% / 12 * 1
		.wk-col-2
			width: 100% / 12 * 2
		.wk-col-3 
			width: 100% / 12 * 3
		.wk-col-4
			width: 100% / 12 * 4
		.wk-col-5
			width: 100% / 12 * 5
		.wk-col-6
			width: 100% / 12 * 6
		.wk-col-7
			width: 100% / 12 * 7
		.wk-col-8
			width: 100% / 12 * 8
		.wk-col-9
			width: 100% / 12 * 9
		.wk-col-10
			width: 100% / 12 * 10
		.wk-col-11
			width: 100% / 12 * 11
		.wk-col-12
			width: 100%

	.wk-cols-8
		.wk-col-1
			width: 100% / 8 * 1
		.wk-col-2
			width: 100% / 8 * 2
		.wk-col-3 
			width: 100% / 8 * 3
		.wk-col-4
			width: 100% / 8 * 4
		.wk-col-5
			width: 100% / 8 * 5
		.wk-col-6
			width: 100% / 8 * 6
		.wk-col-7
			width: 100% / 8 * 7
		.wk-col-8
			width: 100% / 8 * 8
		.wk-col-9
			width: 100% / 8 * 9
		.wk-col-10
			width: 100% / 8 * 10
		.wk-col-11
			width: 100% / 8 * 11
		.wk-col-12
			width: 100% / 8 * 12
		.wk-col-13
			width: 100% / 8 * 13
		.wk-col-14
			width: 100%

	.wk-cols-14
		.wk-col-1
			width: 100% / 14 * 1
		.wk-col-2
			width: 100% / 14 * 2
		.wk-col-3 
			width: 100% / 14 * 3
		.wk-col-4
			width: 100% / 14 * 4
		.wk-col-5
			width: 100% / 14 * 5
		.wk-col-6
			width: 100% / 14 * 6
		.wk-col-7
			width: 100% / 14 * 7
		.wk-col-8
			width: 100% / 14 * 8
		.wk-col-9
			width: 100% / 14 * 9
		.wk-col-10
			width: 100% / 14 * 10
		.wk-col-11
			width: 100% / 14 * 11
		.wk-col-12
			width: 100% / 14 * 12
		.wk-col-13
			width: 100% / 14 * 13
		.wk-col-14
			width: 100%

	.wk-cols-16
		.wk-col-1
			width: 100% / 16 * 1
		.wk-col-2
			width: 100% / 16 * 2
		.wk-col-3 
			width: 100% / 16 * 3
		.wk-col-4
			width: 100% / 16 * 4
		.wk-col-5
			width: 100% / 16 * 5
		.wk-col-6
			width: 100% / 16 * 6
		.wk-col-7
			width: 100% / 16 * 7
		.wk-col-8
			width: 100% / 16 * 8
		.wk-col-9
			width: 100% / 16 * 9
		.wk-col-10
			width: 100% / 16 * 10
		.wk-col-11
			width: 100% / 16 * 11
		.wk-col-12
			width: 100% / 16 * 12
		.wk-col-13
			width: 100% / 16 * 13
		.wk-col-14
			width: 100% / 16 * 14
		.wk-col-15
			width: 100% / 16 * 15
		.wk-col-16
			width: 100% / 16 * 16

@media ( min-width: $width-mobile-xs-plus-1 )
	
	.wk-cols-t,
	.wk-cols-te
		.wk-col-1
			width: 100% / 12 * 1
		.wk-col-2
			width: 100% / 12 * 2
		.wk-col-3 
			width: 100% / 12 * 3
		.wk-col-4
			width: 100% / 12 * 4
		.wk-col-5
			width: 100% / 12 * 5
		.wk-col-6
			width: 100% / 12 * 6
		.wk-col-7
			width: 100% / 12 * 7
		.wk-col-8
			width: 100% / 12 * 8
		.wk-col-9
			width: 100% / 12 * 9
		.wk-col-10
			width: 100% / 12 * 10
		.wk-col-11
			width: 100% / 12 * 11
		.wk-col-12
			width: 100%

	.wk-cols-8t,
	.wk-cols-8te
		.wk-col-1
			width: 100% / 8 * 1
		.wk-col-2
			width: 100% / 8 * 2
		.wk-col-3 
			width: 100% / 8 * 3
		.wk-col-4
			width: 100% / 8 * 4
		.wk-col-5
			width: 100% / 8 * 5
		.wk-col-6
			width: 100% / 8 * 6
		.wk-col-7
			width: 100% / 8 * 7
		.wk-col-8
			width: 100% / 8 * 8
		.wk-col-9
			width: 100% / 8 * 9
		.wk-col-10
			width: 100% / 8 * 10
		.wk-col-11
			width: 100% / 8 * 11
		.wk-col-12
			width: 100% / 8 * 12
		.wk-col-13
			width: 100% / 8 * 13
		.wk-col-14
			width: 100%

	.wk-cols-14t,
	.wk-cols-14te
		.wk-col-1
			width: 100% / 14 * 1
		.wk-col-2
			width: 100% / 14 * 2
		.wk-col-3 
			width: 100% / 14 * 3
		.wk-col-4
			width: 100% / 14 * 4
		.wk-col-5
			width: 100% / 14 * 5
		.wk-col-6
			width: 100% / 14 * 6
		.wk-col-7
			width: 100% / 14 * 7
		.wk-col-8
			width: 100% / 14 * 8
		.wk-col-9
			width: 100% / 14 * 9
		.wk-col-10
			width: 100% / 14 * 10
		.wk-col-11
			width: 100% / 14 * 11
		.wk-col-12
			width: 100% / 14 * 12
		.wk-col-13
			width: 100% / 14 * 13
		.wk-col-14
			width: 100%

	.wk-cols-16t,
	.wk-cols-16te
		.wk-col-1
			width: 100% / 16 * 1
		.wk-col-2
			width: 100% / 16 * 2
		.wk-col-3 
			width: 100% / 16 * 3
		.wk-col-4
			width: 100% / 16 * 4
		.wk-col-5
			width: 100% / 16 * 5
		.wk-col-6
			width: 100% / 16 * 6
		.wk-col-7
			width: 100% / 16 * 7
		.wk-col-8
			width: 100% / 16 * 8
		.wk-col-9
			width: 100% / 16 * 9
		.wk-col-10
			width: 100% / 16 * 10
		.wk-col-11
			width: 100% / 16 * 11
		.wk-col-12
			width: 100% / 16 * 12
		.wk-col-13
			width: 100% / 16 * 13
		.wk-col-14
			width: 100% / 16 * 14
		.wk-col-15
			width: 100% / 16 * 15
		.wk-col-16
			width: 100% / 16 * 16

	.wk-cols-me
		.wk-col-1
			width: 100% / 12 * 1
		.wk-col-2
			width: 100% / 12 * 2
		.wk-col-3 
			width: 100% / 12 * 3
		.wk-col-4
			width: 100% / 12 * 4
		.wk-col-5
			width: 100% / 12 * 5
		.wk-col-6
			width: 100% / 12 * 6
		.wk-col-7
			width: 100% / 12 * 7
		.wk-col-8
			width: 100% / 12 * 8
		.wk-col-9
			width: 100% / 12 * 9
		.wk-col-10
			width: 100% / 12 * 10
		.wk-col-11
			width: 100% / 12 * 11
		.wk-col-12
			width: 100%

	.wk-cols-8me
		.wk-col-1
			width: 100% / 8 * 1
		.wk-col-2
			width: 100% / 8 * 2
		.wk-col-3 
			width: 100% / 8 * 3
		.wk-col-4
			width: 100% / 8 * 4
		.wk-col-5
			width: 100% / 8 * 5
		.wk-col-6
			width: 100% / 8 * 6
		.wk-col-7
			width: 100% / 8 * 7
		.wk-col-8
			width: 100% / 8 * 8
		.wk-col-9
			width: 100% / 8 * 9
		.wk-col-10
			width: 100% / 8 * 10
		.wk-col-11
			width: 100% / 8 * 11
		.wk-col-12
			width: 100% / 8 * 12
		.wk-col-13
			width: 100% / 8 * 13
		.wk-col-14
			width: 100%

	.wk-cols-14me
		.wk-col-1
			width: 100% / 14 * 1
		.wk-col-2
			width: 100% / 14 * 2
		.wk-col-3 
			width: 100% / 14 * 3
		.wk-col-4
			width: 100% / 14 * 4
		.wk-col-5
			width: 100% / 14 * 5
		.wk-col-6
			width: 100% / 14 * 6
		.wk-col-7
			width: 100% / 14 * 7
		.wk-col-8
			width: 100% / 14 * 8
		.wk-col-9
			width: 100% / 14 * 9
		.wk-col-10
			width: 100% / 14 * 10
		.wk-col-11
			width: 100% / 14 * 11
		.wk-col-12
			width: 100% / 14 * 12
		.wk-col-13
			width: 100% / 14 * 13
		.wk-col-14
			width: 100%

	.wk-cols-16me
		.wk-col-1
			width: 100% / 16 * 1
		.wk-col-2
			width: 100% / 16 * 2
		.wk-col-3 
			width: 100% / 16 * 3
		.wk-col-4
			width: 100% / 16 * 4
		.wk-col-5
			width: 100% / 16 * 5
		.wk-col-6
			width: 100% / 16 * 6
		.wk-col-7
			width: 100% / 16 * 7
		.wk-col-8
			width: 100% / 16 * 8
		.wk-col-9
			width: 100% / 16 * 9
		.wk-col-10
			width: 100% / 16 * 10
		.wk-col-11
			width: 100% / 16 * 11
		.wk-col-12
			width: 100% / 16 * 12
		.wk-col-13
			width: 100% / 16 * 13
		.wk-col-14
			width: 100% / 16 * 14
		.wk-col-15
			width: 100% / 16 * 15
		.wk-col-16
			width: 100% / 16 * 16

.wk-cols-m
	.wk-col-1
		width: 100% / 12 * 1
	.wk-col-2
		width: 100% / 12 * 2
	.wk-col-3 
		width: 100% / 12 * 3
	.wk-col-4
		width: 100% / 12 * 4
	.wk-col-5
		width: 100% / 12 * 5
	.wk-col-6
		width: 100% / 12 * 6
	.wk-col-7
		width: 100% / 12 * 7
	.wk-col-8
		width: 100% / 12 * 8
	.wk-col-9
		width: 100% / 12 * 9
	.wk-col-10
		width: 100% / 12 * 10
	.wk-col-11
		width: 100% / 12 * 11
	.wk-col-12
		width: 100%

.wk-cols-8m
	.wk-col-1
		width: 100% / 8 * 1
	.wk-col-2
		width: 100% / 8 * 2
	.wk-col-3 
		width: 100% / 8 * 3
	.wk-col-4
		width: 100% / 8 * 4
	.wk-col-5
		width: 100% / 8 * 5
	.wk-col-6
		width: 100% / 8 * 6
	.wk-col-7
		width: 100% / 8 * 7
	.wk-col-8
		width: 100% / 8 * 8
	.wk-col-9
		width: 100% / 8 * 9
	.wk-col-10
		width: 100% / 8 * 10
	.wk-col-11
		width: 100% / 8 * 11
	.wk-col-12
		width: 100%

.wk-cols-14m
	.wk-col-1
		width: 100% / 14 * 1
	.wk-col-2
		width: 100% / 14 * 2
	.wk-col-3 
		width: 100% / 14 * 3
	.wk-col-4
		width: 100% / 14 * 4
	.wk-col-5
		width: 100% / 14 * 5
	.wk-col-6
		width: 100% / 14 * 6
	.wk-col-7
		width: 100% / 14 * 7
	.wk-col-8
		width: 100% / 14 * 8
	.wk-col-9
		width: 100% / 14 * 9
	.wk-col-10
		width: 100% / 14 * 10
	.wk-col-11
		width: 100% / 14 * 11
	.wk-col-12
		width: 100% / 14 * 12
	.wk-col-13
		width: 100% / 14 * 13
	.wk-col-14
		width: 100%

.wk-cols-16m
	.wk-col-1
		width: 100% / 16 * 1
	.wk-col-2
		width: 100% / 16 * 2
	.wk-col-3 
		width: 100% / 16 * 3
	.wk-col-4
		width: 100% / 16 * 4
	.wk-col-5
		width: 100% / 16 * 5
	.wk-col-6
		width: 100% / 16 * 6
	.wk-col-7
		width: 100% / 16 * 7
	.wk-col-8
		width: 100% / 16 * 8
	.wk-col-9
		width: 100% / 16 * 9
	.wk-col-10
		width: 100% / 16 * 10
	.wk-col-11
		width: 100% / 16 * 11
	.wk-col-12
		width: 100% / 16 * 12
	.wk-col-13
		width: 100% / 16 * 13
	.wk-col-14
		width: 100% / 16 * 14
	.wk-col-15
		width: 100% / 16 * 15
	.wk-col-16
		width: 100% / 16 * 16

@media ( min-width: $width-mobile-xs-plus-1 ) and ( max-width: $width-mobile-plus-1 )
	.wk-cols-te,
	.wk-cols-8te,
	.wk-cols-14te,
	.wk-cols-16te
		> [class^="wk-col-"]
			width: 50%



/*========== No Flexbox =========*/


[class^="wk-col-"]
			float: left


@media ( max-width: $width-mobile-xs )
	.wk-cols-t,
	.wk-cols-8t,
	.wk-cols-14t,
	.wk-cols-16t,
	.wk-cols-te,
	.wk-cols-8te,
	.wk-cols-14te,
	.wk-cols-16te
		> [class^="wk-col-"]
			float: none

// .no-flexbox 

[class^="wk-cols"]
	&:after
		content: ""
		display: table
		clear: both

	// > [class~="wk-col"]
	// 	width: 8.333333%
	// 	width: calc(100% / 12 - .01px)
	// 	float: left

// 	.wk-cols 
// 		> [class^="wk-col-"]
// 			@media ( max-width: $width-mobile )
// 				width: 100% 
// 				float: none	

// 	.wk-cols-t
// 		> [class^="wk-col-"]
// 			@media ( max-width: $width-mobile-xs )
// 				width: 100%
// 				float: none









////////////////////
	// $wk-col-slug: wk-col; 

	//@for $i from 1 through 12
	//	.wk-col-#{$i}
	//		width: 300px + $i

