/*========== Headings ==========*/

h1,h2,h3,h4,h5,h6
	font-weight: 300
	margin:
		top: 1.3rem
		bottom: 1.3rem

h1
	font:
		size: 250%
h2
	font:
		size: 200%
h3
	font:
		size: 150%
h4
	font:
		size: 100%
		weight: 700
h5
	font:
		size: 100%
		weight: 400
h6
	font:
		size: 100%
		weight: 100

/*========== Paragraph ==========*/

p
	margin:
		top: 12px
		bottom: 12px

/*========== Text align ==========*/

.wk-text-center
	text-align: center

.wk-text-left
	text-align: left 

.wk-text-right
	text-align: right

.wk-children-text-center
	> *
		text-align: center

.wk-children-text-left
	> *
		text-align: left 

.wk-children-text-right
	> *
		text-align: right

@media ( min-width: $desktop )
	.wk-d-text-center
		text-align: center

	.wk-d-text-left
		text-align: left 

	.wk-d-text-right
		text-align: right

	.wk-d-children-text-center
		> *
			text-align: center

	.wk-d-children-text-left
		> *
			text-align: left 

	.wk-d-children-text-right
		> *
			text-align: right

@media ( max-width: $mobile )
	.wk-m-text-center
		text-align: center

	.wk-m-text-left
		text-align: left 

	.wk-m-text-right
		text-align: right

	.wk-m-children-text-center
		> *
			text-align: center

	.wk-m-children-text-left
		> *
			text-align: left 

	.wk-m-children-text-right
		> *
			text-align: right

@media ( max-width: $mobile-xs )
	.wk-xs-text-center
		text-align: center

	.wk-xs-text-left
		text-align: left 

	.wk-xs-text-right
		text-align: right

	.wk-xs-children-text-center
		> *
			text-align: center

	.wk-xs-children-text-left
		> *
			text-align: left 

	.wk-xs-children-text-right
		> *
			text-align: right

/*========== Text align ==========*/

.wk-text-decoration-underline
	text-decoration: underline

.wk-text-decoration-overline
	text-decoration: overline

.wk-text-decoration-line-through
	text-decoration: line-through

.wk-text-decoration-blink
	text-decoration: blink

.wk-children-text-decoration-underline
	> *
		text-decoration: underline

.wk-children-text-decoration-overline
	> *
		text-decoration: overline

.wk-children-text-decoration-line-through
	> *
		text-decoration: line-through

.wk-children-text-decoration-blink
	> *
		text-decoration: blink

@media ( min-width: $desktop )
	.wk-d-text-decoration-underline
		text-decoration: underline

	.wk-d-text-decoration-overline
		text-decoration: overline

	.wk-d-text-decoration-line-through
		text-decoration: line-through

	.wk-d-text-decoration-blink
		text-decoration: blink

	.wk-d-children-text-decoration-underline
		> *
			text-decoration: underline

	.wk-d-children-text-decoration-overline
		> *
			text-decoration: overline

	.wk-d-children-text-decoration-line-through
		> *
			text-decoration: line-through

	.wk-d-children-text-decoration-blink
		> *
			text-decoration: blink

@media ( max-width: $mobile )
	.wk-m-text-decoration-underline
		text-decoration: underline

	.wk-m-text-decoration-overline
		text-decoration: overline

	.wk-m-text-decoration-line-through
		text-decoration: line-through

	.wk-m-text-decoration-blink
		text-decoration: blink


	.wk-m-children-text-decoration-underline
		> *
			text-decoration: underline

	.wk-m-children-text-decoration-overline
		> *
			text-decoration: overline

	.wk-m-children-text-decoration-line-through
		> *
			text-decoration: line-through

	.wk-m-children-text-decoration-blink
		> *
			text-decoration: blink

@media ( max-width: $mobile-xs )
	.wk-xs-text-decoration-underline
		text-decoration: underline

	.wk-xs-text-decoration-overline
		text-decoration: overline

	.wk-xs-text-decoration-line-through
		text-decoration: line-through

	.wk-xs-text-decoration-blink
		text-decoration: blink

	.wk-xs-children-text-decoration-underline
		> *
			text-decoration: underline

	.wk-xs-children-text-decoration-overline
		> *
			text-decoration: overline

	.wk-xs-children-text-decoration-line-through
		> *
			text-decoration: line-through

	.wk-xs-children-text-decoration-blink
		> *
			text-decoration: blink


/*========== Text transform ==========*/

.wk-text-transform-capitalize
	text-transform: capitalize

.wk-text-transform-lowercase
	text-transform: lowercase

.wk-text-transform-uppercase
	text-transform: uppercase

.wk-children-text-transform-capitalize
	> *
		text-transform: capitalize

.wk-children-text-transform-lowercase
	> *
		text-transform: lowercase

.wk-children-text-transform-uppercase
	> *
		text-transform: uppercase

@media ( min-width: $desktop )
	.wk-d-text-transform-capitalize
		text-transform: capitalize

	.wk-d-text-transform-lowercase
		text-transform: lowercase

	.wk-d-text-transform-uppercase
		text-transform: uppercase

	.wk-d-children-text-transform-capitalize
		> *
			text-transform: capitalize

	.wk-d-children-text-transform-lowercase
		> *
			text-transform: lowercase

	.wk-d-children-text-transform-uppercase
		> *
			text-transform: uppercase

@media ( max-width: $mobile )
	.wk-m-text-transform-capitalize
		text-transform: capitalize

	.wk-m-text-transform-lowercase
		text-transform: lowercase

	.wk-m-text-transform-uppercase
		text-transform: uppercase

	.wk-m-children-text-transform-capitalize
		> *
			text-transform: capitalize

	.wk-m-children-text-transform-lowercase
		> *
			text-transform: lowercase

	.wk-m-children-text-transform-uppercase
		> *
			text-transform: uppercase

@media ( max-width: $mobile-xs )
	.wk-xs-text-transform-capitalize
		text-transform: capitalize

	.wk-xs-text-transform-lowercase
		text-transform: lowercase

	.wk-xs-text-transform-uppercase
		text-transform: uppercase

	.wk-xs-children-text-transform-capitalize
		> *
			text-transform: capitalize

	.wk-xs-children-text-transform-lowercase
		> *
			text-transform: lowercase

	.wk-xs-children-text-transform-uppercase
		> *
			text-transform: uppercase
/*========== Font weight ==========*/

.wk-font-weight-100
	font-weight: 100

.wk-font-weight-200
	font-weight: 200
	
.wk-font-weight-300
	font-weight: 300
	
.wk-font-weight-400
	font-weight: 400
	
.wk-font-weight-500
	font-weight: 500
	
.wk-font-weight-600
	font-weight: 600
	
.wk-font-weight-700
	font-weight: 700
	
.wk-font-weight-800
	font-weight: 800
	
.wk-font-weight-900
	font-weight: 900


.wk-children-font-weight-100
	> *
		font-weight: 100

.wk-children-font-weight-200
	> *
		font-weight: 200
		
.wk-children-font-weight-300
	> *
		font-weight: 300
	
.wk-children-font-weight-400
	> *
		font-weight: 400
	
.wk-children-font-weight-500
	> *
		font-weight: 500
	
.wk-children-font-weight-600
	> *
		font-weight: 600
	
.wk-children-font-weight-700
	> *
		font-weight: 700
	
.wk-children-font-weight-800
	> *
		font-weight: 800
	
.wk-children-font-weight-900
	> *
		font-weight: 900

@media ( min-width: 771px )
	.wk-d-font-weight-100
		font-weight: 100

	.wk-d-font-weight-200
		font-weight: 200
		
	.wk-d-font-weight-300
		font-weight: 300
		
	.wk-d-font-weight-400
		font-weight: 400
		
	.wk-d-font-weight-500
		font-weight: 500
		
	.wk-d-font-weight-600
		font-weight: 600
		
	.wk-d-font-weight-700
		font-weight: 700
		
	.wk-d-font-weight-800
		font-weight: 800
		
	.wk-d-font-weight-900
		font-weight: 900

	.wk-d-children-font-weight-100
		> *
			font-weight: 100

	.wk-d-children-font-weight-200
		> *
			font-weight: 200
		
	.wk-d-children-font-weight-300
		> *
			font-weight: 300
		
	.wk-d-children-font-weight-400
		> *
			font-weight: 400
		
	.wk-d-children-font-weight-500
		> *
			font-weight: 500
		
	.wk-d-children-font-weight-600
		> *
			font-weight: 600
		
	.wk-d-children-font-weight-700
		> *
			font-weight: 700
		
	.wk-d-children-font-weight-800
		> *
			font-weight: 800
		
	.wk-d-children-font-weight-900
		> *
			font-weight: 900

@media ( max-width: 770px )
	.wk-m-font-weight-100
		font-weight: 100

	.wk-m-font-weight-200
		font-weight: 200
		
	.wk-m-font-weight-300
		font-weight: 300
		
	.wk-m-font-weight-400
		font-weight: 400
		
	.wk-m-font-weight-500
		font-weight: 500
		
	.wk-m-font-weight-600
		font-weight: 600
		
	.wk-m-font-weight-700
		font-weight: 700
		
	.wk-m-font-weight-800
		font-weight: 800
		
	.wk-m-font-weight-900
		font-weight: 900

	.wk-m-children-font-weight-100
		> *
			font-weight: 100

	.wk-m-children-font-weight-200
		> *
			font-weight: 200
		
	.wk-m-children-font-weight-300
		> *
			font-weight: 300
		
	.wk-m-children-font-weight-400
		> *
			font-weight: 400
		
	.wk-m-children-font-weight-500
		> *
			font-weight: 500
		
	.wk-m-children-font-weight-600
		> *
			font-weight: 600
		
	.wk-m-children-font-weight-700
		> *
			font-weight: 700
		
	.wk-m-children-font-weight-800
		> *
			font-weight: 800
		
	.wk-m-children-font-weight-900
		> *
			font-weight: 900

@media ( max-width: $mobile-xs )
	.wk-xs-font-weight-100
		font-weight: 100

	.wk-xs-font-weight-200
		font-weight: 200
		
	.wk-xs-font-weight-300
		font-weight: 300
		
	.wk-xs-font-weight-400
		font-weight: 400
		
	.wk-xs-font-weight-500
		font-weight: 500
		
	.wk-xs-font-weight-600
		font-weight: 600
		
	.wk-xs-font-weight-700
		font-weight: 700
		
	.wk-xs-font-weight-800
		font-weight: 800
		
	.wk-xs-font-weight-900
		font-weight: 900

	.wk-xs-children-font-weight-100
		> *
			font-weight: 100

	.wk-xs-children-font-weight-200
		> *
			font-weight: 200
		
	.wk-xs-children-font-weight-300
		> *
			font-weight: 300
		
	.wk-xs-children-font-weight-400
		> *
			font-weight: 400
		
	.wk-xs-children-font-weight-500
		> *
			font-weight: 500
		
	.wk-xs-children-font-weight-600
		> *
			font-weight: 600
		
	.wk-xs-children-font-weight-700
		> *
			font-weight: 700
		
	.wk-xs-children-font-weight-800
		> *
			font-weight: 800
		
	.wk-xs-children-font-weight-900
		> *
			font-weight: 900

/*========== Font style ==========*/

.wk-font-style-italic
	font-style: italic

.wk-font-style-normal
	font-style: normal

.wk-children-font-style-italic
	font-style: italic

.wk-children-font-style-normal
	font-style: normal

@media ( min-width: $desktop )
	.wk-d-font-style-italic
		font-style: italic

	.wk-d-font-style-normal
		font-style: normal

	.wk-d-children-font-style-italic
		> *
			font-style: italic

	.wk-d-children-font-style-normal
		> *
			font-style: normal

@media ( max-width: $mobile )
	.wk-m-font-style-italic
		font-style: italic

	.wk-m-font-style-normal
		font-style: normal

	.wk-m-children-font-style-italic
		> *
			font-style: italic

	.wk-m-children-font-style-normal
		> *
			font-style: normal

@media ( max-width: $mobile-xs )
	.wk-xs-font-style-italic
		font-style: italic

	.wk-xs-font-style-normal
		font-style: normal

	.wk-xs-children-font-style-italic
		> *
			font-style: italic

	.wk-xs-children-font-style-normal
		> *
			font-style: normal

/*========== Font size ==========*/

@for $i from 1 through 100
	@if $i % 2 == 0
		.wk-font-size-#{$i}
			font-size: #{$i}

		.wk-children-font-size-#{$i}
			> *
				font-size: #{$i}

@media ( min-width: $desktop )
	@for $i from 1 through 100
		@if $i % 2 == 0
			.wk-d-font-size-#{$i}
				font-size: #{$i}

			.wk-d-children-font-size-#{$i}
				> *
					font-size: #{$i}

@media ( max-width: $mobile )
	@for $i from 1 through 100
		@if $i % 2 == 0
			.wk-m-font-size-#{$i}
				font-size: #{$i}

			.wk-m-children-font-size-#{$i}
				> *
					font-size: #{$i}

@media ( max-width: $mobile-xs )
	@for $i from 1 through 100
		@if $i % 2 == 0
			.wk-xs-font-size-#{$i}
				font-size: #{$i}

			.wk-xs-children-font-size-#{$i}
				> *
					font-size: #{$i}