$text-color-primary: #000;
$text-color-contrast: #fff;
$text-color-contrast-medium: #aaa;

$section-max-width: 800px;

$width-mobile: 770px;
$width-mobile-xs: 414px;

$width-mobile-plus-1: 771px;
$width-mobile-xs-plus-1: 415px;