* 
	box-sizing: border-box

body
	margin: 0
	padding: 0

[class^="wk-section-width"]
	width: 100%
	background: dodgerblue

.wk-section-width-full
	max-width: 100%

.wk-section-width-wrapp
	max-width: 1000px
	margin:
		left: auto
		right: auto

/*========== Menu =========*/

@import sections

$v: n;

/*========== Cols =========*/

@import cols

$v: n;

/*========== Menu =========*/

@import menu

$v: n;





////////////////////
	// $wk-col-slug: wk-col; 

	//@for $i from 1 through 12
	//	.wk-col-#{$i}
	//		width: 300px + $i

