doctype html
html.no-flexbox(srvr="Alumin")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title WPKit UI
		link(rel="stylesheet" href="css/wpkitui.css")
		link(rel="stylesheet" href="css/custom.css")
		link(rel="stylesheet" href="css/template.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="js/wpkitui.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		link(rel="stylesheet" href="assets/prismjs/prism.css")
		script(src="assets/prismjs/prism.js") 
	body
		#wraper

			header
			section.wk-section-wrap
				.wk-cols-m
					.wk-col.wk-flex.wk-flex-align-center
						img(width="32" src="img/favicon.png")
					.wk-col
						nav
							ul.wk-menu(style="height: 50px")
								li Item 1
								li Item 2

			section.wk-section-wrap
				img(width="100" src="img/wpkit-logo-symbol.svg")


			
			//- section.wk-section.wk-block-dark.wk-contrast
				.wk-block-padding .wk-section .wk-section-first / .wk-block-padding 
			
			//- section.wk-section.wk-section-wrap.wk-block-dark.wk-contrast-medium 
				.wk-block-padding .wk-section.wk-section-wrap / .wk-block-padding  
			
			section.wk-section.wk-section-wrap

				h3 wk-cols / No Flexbox Todos los items se apilan en móvil
				.wk-cols(style="background-color: gold")
					- for ( n=1; n<13; n++ )
						.wk-col col #{n}

				h3 wk-cols-t / No Flexbox permanecerán en tablet solo se apilarán en móvil xss
				.wk-cols-t(style="background-color: tomato")
					- for ( n=1; n<13; n++ )
						.wk-col col #{n}

				h3 wk-cols-m / No Flexbox Nunca se apilarán
				.wk-cols-m(style="background-color: dodgerblue")
					- for ( n=1; n<13; n++ )
						.wk-col col #{n}

				h3 wk-cols / wk-cols-1 - Se apilarán en todos los dispositivos móviles
				.wk-cols(style="background-color: aquamarine")
					- for ( n=1; n<13; n++ )
						.wk-col-1 col #{n}
				h3 WK Cols 8
				.wk-cols-8(style="background-color: mediumpurple;")
					.wk-cols-t
						.wk-col-1 1 t
						.wk-col-7 7 t

					.wk-cols-te
						.wk-col-2 2 te
						.wk-col-6 6 te

					.wk-cols-m
						.wk-col-3 3 m
						.wk-col-5 5 m

					.wk-cols
						.wk-col-4 4 
						.wk-col-4 4 

					.wk-cols-me
						.wk-col-5 5 me
						.wk-col-3 3 me

					.wk-cols
						.wk-col-6 6
						.wk-col-2 2

					.wk-cols
						.wk-col-7 7
						.wk-col-1 1


				h3 WK Cols 12
				.cont(style="background-color: wheat;")
					.wk-cols-t
						.wk-col-1 1 t
						.wk-col-11 11 t

					.wk-cols-te
						.wk-col-2 2 te
						.wk-col-10 10 te

					.wk-cols-m
						.wk-col-3 3 m
						.wk-col-9 9 m

					.wk-cols-me
						.wk-col-4 4 me
						.wk-col-8 8 me

					.wk-cols
						.wk-col-5 5
						.wk-col-7 7

					.wk-cols
						.wk-col-6 6
						.wk-col-6 6

					.wk-cols
						.wk-col-7 7
						.wk-col-5 5

					.wk-cols
						.wk-col-8 8
						.wk-col-4 4

					.wk-cols
						.wk-col-9 9
						.wk-col-3 3

					.wk-cols
						.wk-col-10 10
						.wk-col-2 2

					.wk-cols
						.wk-col-11 11
						.wk-col-1 1

					.wk-cols
						.wk-col-12 12

					.wk-cols
						.wk-col-2 2a
						.wk-col-5 5a
						.wk-col-3 3a
						.wk-col-2 2a

				h3 WK Cols 14
				.wk-cols-14(style="background-color: aqua;")
					.wk-cols-t
						.wk-col-1 1 t
						.wk-col-13 13 t

					.wk-cols-te
						.wk-col-2 2 te
						.wk-col-12 12 te

					.wk-cols-m
						.wk-col-3 3 m
						.wk-col-11 11 m

					.wk-cols-me
						.wk-col-4 4 me
						.wk-col-10 10 me

					.wk-cols
						.wk-col-5 5
						.wk-col-9 9

					.wk-cols
						.wk-col-6 6
						.wk-col-8 8

					.wk-cols
						.wk-col-7 7
						.wk-col-7 7

					.wk-cols
						.wk-col-8 8
						.wk-col-6 6

					.wk-cols
						.wk-col-9 9
						.wk-col-5 5

					.wk-cols
						.wk-col-10 10
						.wk-col-4 4

					.wk-cols
						.wk-col-11 11
						.wk-col-3 3

					.wk-cols
						.wk-col-12 12
						.wk-col-2 2

					.wk-cols
						.wk-col-13 13
						.wk-col-1 1

				h3 WK Cols 16
				.wk-cols-16(style="background-color: orange;")
					.wk-cols-t
						.wk-col-1 1 t
						.wk-col-15 15 t

					.wk-cols-te
						.wk-col-2 2 te
						.wk-col-14 14 te

					.wk-cols-m
						.wk-col-3 3 m
						.wk-col-13 13 m

					.wk-cols-me
						.wk-col-4 4 me
						.wk-col-12 12 me

					.wk-cols
						.wk-col-5 5
						.wk-col-11 11

					.wk-cols
						.wk-col-6 6
						.wk-col-10 10

					.wk-cols
						.wk-col-7 7
						.wk-col-9 9

					.wk-cols
						.wk-col-8 8
						.wk-col-8 8

					.wk-cols
						.wk-col-9 9
						.wk-col-7 7

					.wk-cols
						.wk-col-10 10
						.wk-col-6 6

					.wk-cols
						.wk-col-11 11
						.wk-col-5 5

					.wk-cols
						.wk-col-12 12
						.wk-col-4 4

					.wk-cols
						.wk-col-13 13
						.wk-col-3 3

					.wk-cols
						.wk-col-14 14
						.wk-col-2 2

					.wk-cols
						.wk-col-15 15
						.wk-col-1 1

				h3 WK Col e 16
				.cont(style="background-color: cornflowerblue;")
					.wk-cols
						.wk-col 2e
						.wk-col 2e

					.wk-cols
						- for (n=0; n<3; n++)
							.wk-col 3e

					.wk-cols
						- for (n=0; n<4; n++)
							.wk-col 4e

					.wk-cols
						- for (n=0; n<5; n++)
							.wk-col 5e

					.wk-cols
						- for (n=0; n<6; n++)
							.wk-col 6e

					.wk-cols
						- for (n=0; n<7; n++)
							.wk-col 7e

					.wk-cols
						- for (n=0; n<8; n++)
							.wk-col 8e

					.wk-cols
						- for (n=0; n<9; n++)
							.wk-col 9e

					.wk-cols
						- for (n=0; n<10; n++)
							.wk-col 10e

					.wk-cols
						- for (n=0; n<11; n++)
							.wk-col 11e

					.wk-cols
						- for (n=0; n<12; n++)
							.wk-col 12e

					.wk-cols
						- for (n=0; n<13; n++)
							.wk-col 13e

					.wk-cols
						- for (n=0; n<14; n++)
							.wk-col 14e

					.wk-cols
						- for (n=0; n<15; n++)
							.wk-col 15e

					.wk-cols
						- for (n=0; n<16; n++)
							.wk-col 16e

				h3 WK Col t 16
				.cont(style="background-color: gold;")
					.wk-cols-t
						.wk-col 2e
						.wk-col 2e

					.wk-cols-t
						- for (n=0; n<3; n++)
							.wk-col 3e

					.wk-cols-t
						- for (n=0; n<4; n++)
							.wk-col 4e

					.wk-cols-t
						- for (n=0; n<5; n++)
							.wk-col 5e

					.wk-cols-t
						- for (n=0; n<6; n++)
							.wk-col 6e

					.wk-cols-t
						- for (n=0; n<7; n++)
							.wk-col 7e

					.wk-cols-t
						- for (n=0; n<8; n++)
							.wk-col 8e

					.wk-cols-t
						- for (n=0; n<9; n++)
							.wk-col 9e

					.wk-cols-t
						- for (n=0; n<10; n++)
							.wk-col 10e

					.wk-cols-t
						- for (n=0; n<11; n++)
							.wk-col 11e

					.wk-cols-t
						- for (n=0; n<12; n++)
							.wk-col 12e

					.wk-cols-t
						- for (n=0; n<13; n++)
							.wk-col 13e

					.wk-cols-t
						- for (n=0; n<14; n++)
							.wk-col 14e

					.wk-cols-t
						- for (n=0; n<15; n++)
							.wk-col 15e

					.wk-cols-t
						- for (n=0; n<16; n++)
							.wk-col 16e


				h3 WK Col m 16
				.wk-cols-m
					.wk-col 2e
					.wk-col 2e

				.wk-cols-m
					- for (n=0; n<3; n++)
						.wk-col 3e

				.wk-cols-m
					- for (n=0; n<4; n++)
						.wk-col 4e

				.wk-cols-m
					- for (n=0; n<5; n++)
						.wk-col 5e

				.wk-cols-m
					- for (n=0; n<6; n++)
						.wk-col 6e

				.wk-cols-m
					- for (n=0; n<7; n++)
						.wk-col 7e

				.wk-cols-m
					- for (n=0; n<8; n++)
						.wk-col 8e

				.wk-cols-m
					- for (n=0; n<9; n++)
						.wk-col 9e

				.wk-cols-m
					- for (n=0; n<10; n++)
						.wk-col 10e

				.wk-cols-m
					- for (n=0; n<11; n++)
						.wk-col 11e

				.wk-cols-m
					- for (n=0; n<12; n++)
						.wk-col 12e

				.wk-cols-m
					- for (n=0; n<13; n++)
						.wk-col 13e

				.wk-cols-m
					- for (n=0; n<14; n++)
						.wk-col 14e

				.wk-cols-m
					- for (n=0; n<15; n++)
						.wk-col 15e

				.wk-cols-m
					- for (n=0; n<16; n++)
						.wk-col 16e






	
