doctype html
html(srvr="Alumin")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title WPKit UI
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/custom.css")
		link(rel="stylesheet" href="css/template.css")
		script(src="js/wpkitui.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		link(rel="stylesheet" href="assets/prismjs/prism.css")
		script(src="assets/prismjs/prism.js") 
	body
		#wrapper
			
			section.wk-section.wk-section-first.wk-block-dark.wk-contrast
				.wk-block-padding .wk-section .wk-section-first / .wk-block-padding 
			
			section.wk-section.wk-section-wrapp.wk-block-dark.wk-contrast-medium 
				.wk-block-padding .wk-section.wk-section-wrapp / .wk-block-padding  
			
			section.wk-section.wk-section-wrapp
				.wk-block-padding .wk-section 

				h3 WK-COLS Se apilarán en todos los dispositivos móviles
				.wk-cols
					- for ( n=1; n<13; n++ )
						.wk-col-1 col #{n}
				h3 WK Cols 12
					.wk-cols-t
						.wk-col-1 1 t
						.wk-col-11 11 t

					.wk-cols-te
						.wk-col-2 2 te
						.wk-col-10 10 te

					.wk-cols-m
						.wk-col-3 3 m
						.wk-col-9 9 m

					.wk-cols-me
						.wk-col-4 4 me
						.wk-col-8 8 me

					.wk-cols
						.wk-col-5 5
						.wk-col-7 7

					.wk-cols
						.wk-col-6 6
						.wk-col-6 6

					.wk-cols
						.wk-col-7 7
						.wk-col-5 5

					.wk-cols
						.wk-col-8 8
						.wk-col-4 4

					.wk-cols
						.wk-col-9 9
						.wk-col-3 3

					.wk-cols
						.wk-col-10 10
						.wk-col-2 2

					.wk-cols
						.wk-col-11 11
						.wk-col-1 1

					.wk-cols
						.wk-col-12 12

					.wk-cols
						.wk-col-2 2a
						.wk-col-5 5a
						.wk-col-3 3a
						.wk-col-2 2a

				h3 WK Cols 14
					.wk-cols-14-t
						.wk-col-1 1 t
						.wk-col-13 13 t

					.wk-cols-14-te
						.wk-col-2 2 te
						.wk-col-12 12 te

					.wk-cols-14-m
						.wk-col-3 3 m
						.wk-col-11 11 m

					.wk-cols-14-me
						.wk-col-4 4 me
						.wk-col-10 10 me

					.wk-cols-14
						.wk-col-5 5
						.wk-col-9 9

					.wk-cols-14
						.wk-col-6 6
						.wk-col-8 8

					.wk-cols-14
						.wk-col-7 7
						.wk-col-7 7

					.wk-cols-14
						.wk-col-8 8
						.wk-col-6 6

					.wk-cols-14
						.wk-col-9 9
						.wk-col-5 5

					.wk-cols-14
						.wk-col-10 10
						.wk-col-4 4

					.wk-cols-14
						.wk-col-11 11
						.wk-col-3 3

					.wk-cols-14
						.wk-col-12 12
						.wk-col-2 2

					.wk-cols-14
						.wk-col-13 13
						.wk-col-1 1

				h3 WK Cols 16
					.wk-cols-16-t
						.wk-col-1 1 t
						.wk-col-15 15 t

					.wk-cols-16-te
						.wk-col-2 2 te
						.wk-col-14 14 te

					.wk-cols-16-m
						.wk-col-3 3 m
						.wk-col-13 13 m

					.wk-cols-16-me
						.wk-col-4 4 me
						.wk-col-12 12 me

					.wk-cols-16
						.wk-col-5 5
						.wk-col-11 11

					.wk-cols-16
						.wk-col-6 6
						.wk-col-10 10

					.wk-cols-16
						.wk-col-7 7
						.wk-col-9 9

					.wk-cols-16
						.wk-col-8 8
						.wk-col-8 8

					.wk-cols-16
						.wk-col-9 9
						.wk-col-7 7

					.wk-cols-16
						.wk-col-10 10
						.wk-col-6 6

					.wk-cols-16
						.wk-col-11 11
						.wk-col-5 5

					.wk-cols-16
						.wk-col-12 12
						.wk-col-4 4

					.wk-cols-16
						.wk-col-13 13
						.wk-col-3 3

					.wk-cols-16
						.wk-col-14 14
						.wk-col-2 2

					.wk-cols-16
						.wk-col-15 15
						.wk-col-1 1

	

				h3 WK-T-COLS Se apilarán solo en móvil xs
				.wk-cols-t
					- for ( n=1; n<13; n++ )
						.wk-col-1 col #{n}

				h3 WK-M-COLS Núnca se apliarán
				.wk-cols-m
					- for ( n=1; n<13; n++ )
						.wk-col-1 col #{n}



			section.wk-section.wk-section-last 
				.wk-block-padding .wk-section.wk-section-last / .wk-block-padding 




	
