{
  "name": "WPKitui",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css/wpkitui.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/cols.sass",
      "imports": [
        "sass/variables.sass"
      ]
    },
    {
      "path": "sass/wpkitui.sass",
      "imports": [
        "sass/variables.sass",
        "sass/sections.sass",
        "sass/cols.sass",
        "sass/menu.sass",
        "sass/display.sass",
        "sass/text.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/wpkituiv2",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "ftp.codecase.xyz",
      "port": 21,
      "user": "codecase",
      "password": "CaPri1@*.$"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2017-02-16T03:54:18.152Z",
        "mtime": "2017-02-16T03:54:18.152Z",
        "size": 395
      },
      {
        "file": ".gitignore",
        "ctime": "2017-02-16T03:54:18.175Z",
        "mtime": "2017-02-16T03:54:18.175Z",
        "size": 696
      },
      {
        "file": "assets/modenizr/modernizr.min.js",
        "ctime": "2017-02-23T16:41:50.004Z",
        "mtime": "2017-02-23T16:41:50.004Z",
        "size": 11084
      },
      {
        "file": "assets/prettyprint/theme.css",
        "ctime": "2017-03-10T08:17:06.721Z",
        "mtime": "2017-03-10T08:17:06.721Z",
        "size": 1871
      },
      {
        "file": "assets/prismjs/prism.css",
        "ctime": "2017-02-12T01:22:51.635Z",
        "mtime": "2017-02-12T01:22:51.635Z",
        "size": 1876
      },
      {
        "file": "assets/prismjs/prism.js",
        "ctime": "2017-02-12T01:22:58.359Z",
        "mtime": "2017-02-12T01:22:58.359Z",
        "size": 12656
      },
      {
        "file": "css/cols.css",
        "ctime": "2017-02-18T02:44:11.641Z",
        "mtime": "2017-02-18T02:44:11.641Z",
        "size": 14457
      },
      {
        "file": "css/cols.css.map",
        "ctime": "2017-02-18T02:44:11.638Z",
        "mtime": "2017-02-18T02:44:11.638Z",
        "size": 5875
      },
      {
        "file": "css/custom.css",
        "ctime": "2017-03-10T07:16:21.805Z",
        "mtime": "2017-03-10T07:16:21.805Z",
        "size": 888
      },
      {
        "file": "css/custom.css.map",
        "ctime": "2017-03-10T07:16:21.803Z",
        "mtime": "2017-03-10T07:16:21.803Z",
        "size": 468
      },
      {
        "file": "css/display.css",
        "ctime": "2017-02-19T03:39:10.599Z",
        "mtime": "2017-02-19T03:39:10.599Z",
        "size": 40
      },
      {
        "file": "css/display.css.map",
        "ctime": "2017-02-19T03:39:10.596Z",
        "mtime": "2017-02-19T03:39:10.596Z",
        "size": 51
      },
      {
        "file": "css/menu.css",
        "ctime": "2017-02-18T02:46:48.051Z",
        "mtime": "2017-02-18T02:46:48.051Z",
        "size": 277
      },
      {
        "file": "css/menu.css.map",
        "ctime": "2017-02-18T02:46:48.050Z",
        "mtime": "2017-02-18T02:46:48.050Z",
        "size": 213
      },
      {
        "file": "css/sections.css",
        "ctime": "2017-02-18T20:45:18.166Z",
        "mtime": "2017-02-18T20:45:18.166Z",
        "size": 131
      },
      {
        "file": "css/sections.css.map",
        "ctime": "2017-02-18T20:45:18.163Z",
        "mtime": "2017-02-18T20:45:18.163Z",
        "size": 129
      },
      {
        "file": "css/style.css",
        "ctime": "2017-02-18T02:46:41.431Z",
        "mtime": "2017-02-18T02:46:41.431Z",
        "size": 38
      },
      {
        "file": "css/style.css.map",
        "ctime": "2017-02-18T02:46:41.429Z",
        "mtime": "2017-02-18T02:46:41.429Z",
        "size": 51
      },
      {
        "file": "css/wpkitui.css",
        "ctime": "2017-03-14T23:15:01.812Z",
        "mtime": "2017-03-14T23:15:01.812Z",
        "size": 104522
      },
      {
        "file": "css/wpkitui.css.map",
        "ctime": "2017-03-14T23:15:01.809Z",
        "mtime": "2017-03-14T23:15:01.809Z",
        "size": 40928
      },
      {
        "file": "fonts/font-awesome/font-awesome.css",
        "ctime": "2016-09-27T22:10:31.810Z",
        "mtime": "2016-09-27T22:10:31.810Z",
        "size": 32300
      },
      {
        "file": "fonts/open-sans/open-sans.css",
        "ctime": "2016-12-28T21:34:36.528Z",
        "mtime": "2016-12-28T21:33:47.147Z",
        "size": 5956
      },
      {
        "file": "fonts/font-awesome/fonts/fontawesome-webfont.eot",
        "ctime": "2016-05-20T15:00:17.387Z",
        "mtime": "2016-05-20T15:00:17.387Z",
        "size": 68875
      },
      {
        "file": "fonts/font-awesome/fonts/fontawesome-webfont.svg",
        "ctime": "2016-05-20T15:00:17.370Z",
        "mtime": "2016-05-20T15:00:17.370Z",
        "size": 355981
      },
      {
        "file": "fonts/font-awesome/fonts/fontawesome-webfont.ttf",
        "ctime": "2016-05-20T15:00:17.376Z",
        "mtime": "2016-05-20T15:00:17.376Z",
        "size": 138204
      },
      {
        "file": "fonts/font-awesome/fonts/fontawesome-webfont.woff",
        "ctime": "2016-05-20T15:00:17.391Z",
        "mtime": "2016-05-20T15:00:17.391Z",
        "size": 81284
      },
      {
        "file": "fonts/font-awesome/fonts/fontawesome-webfont.woff2",
        "ctime": "2016-05-20T15:00:17.396Z",
        "mtime": "2016-05-20T15:00:17.396Z",
        "size": 64464
      },
      {
        "file": "fonts/font-awesome/fonts/FontAwesome.otf",
        "ctime": "2016-05-20T15:00:17.383Z",
        "mtime": "2016-05-20T15:00:17.383Z",
        "size": 106260
      },
      {
        "file": "fonts/open-sans/fonts/Bold/OpenSans-Bold.eot",
        "ctime": "2016-04-21T21:09:14.702Z",
        "mtime": "2015-12-22T05:41:14.660Z",
        "size": 110106
      },
      {
        "file": "fonts/open-sans/fonts/Bold/OpenSans-Bold.svg",
        "ctime": "2016-04-21T21:09:14.702Z",
        "mtime": "2015-12-22T05:41:14.765Z",
        "size": 271404
      },
      {
        "file": "fonts/open-sans/fonts/Bold/OpenSans-Bold.ttf",
        "ctime": "2016-04-21T21:09:14.702Z",
        "mtime": "2015-12-22T05:41:14.099Z",
        "size": 109928
      },
      {
        "file": "fonts/open-sans/fonts/Bold/OpenSans-Bold.woff",
        "ctime": "2016-04-21T21:09:14.702Z",
        "mtime": "2015-12-22T05:41:13.914Z",
        "size": 63564
      },
      {
        "file": "fonts/open-sans/fonts/Bold/OpenSans-Bold.woff2",
        "ctime": "2016-04-21T21:09:14.702Z",
        "mtime": "2015-12-22T05:41:13.451Z",
        "size": 46676
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\"],\"sourceMap\":true,\"compiler-node-sass\":{\"outputStyle\":\"expanded\"}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}